<a href="https://colab.research.google.com/github/erenyavuzs/Medical-Cost-Analysis/blob/main/final_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Required Libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_less = pd.read_csv('MELBOURNE_HOUSE_PRICES_LESS.csv')
df = pd.read_csv('Melbourne_housing_FULL.csv')
df_copy = df.copy()
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

# **Summary**

In [ ]:
df.shape

(34857, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [ ]:
def set_frame_style(df, caption=""):
    """Helper function to set dataframe presentation style.
    """
    return df.style.background_gradient(cmap='Blues').set_caption(caption).set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'Blue'),
        ('font-size', '18px'),
        ('font-weight','bold')
    ]}])

def check_data(data, title):
    cols = data.columns.to_list()
    display(set_frame_style(data[cols].head(),f'{title}: First 5 Rows Of Data'))
    display(set_frame_style(data[cols].describe(),f'{title}: Summary Statistics'))
    display(set_frame_style(data[cols].nunique().to_frame().rename({0:'Unique Value Count'}, axis=1).transpose(), f'{title}: Unique Value Counts In Each Column'))
    display(set_frame_style(data[cols].isna().sum().to_frame().transpose(), f'{title}:Columns With Nan'))

check_data(df, 'Train data')
print('-'*100)

----------------------------------------------------------------------------------------------------

In [ ]:
print(f'Total duplicated: {sum(df.duplicated())}')
df.drop_duplicates(inplace= True)
df.shape

Total duplicated: 1

(34856, 21)

In [ ]:
df.corr(numeric_only= True)

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.465238,0.271513,0.085890,0.946755,0.611875,0.393880,0.037402,0.156231,-0.012743,0.004871,0.103244,-0.071678
Price,0.465238,1.000000,-0.211384,0.044950,0.430275,0.429878,0.201803,0.032748,0.100754,-0.333306,-0.215607,0.197874,-0.059017
Distance,0.271513,-0.211384,1.000000,0.481567,0.269528,0.126168,0.241831,0.060864,0.076295,0.323035,-0.100414,0.200923,-0.018130
Postcode,0.085890,0.044950,0.481567,1.000000,0.089292,0.120079,0.067885,0.040665,0.042436,0.089800,-0.231026,0.362901,0.017111
Bedroom2,0.946755,0.430275,0.269528,0.089292,1.000000,0.614940,0.388492,0.037019,0.154159,-0.002017,0.003447,0.106172,-0.053453
Bathroom,0.611875,0.429878,0.126168,0.120079,0.614940,1.000000,0.307520,0.036341,0.147554,0.167869,-0.059174,0.106444,-0.032847
Car,0.393880,0.201803,0.241831,0.067885,0.388492,0.307520,1.000000,0.037830,0.104371,0.128688,-0.009018,0.047200,-0.009611
Landsize,0.037402,0.032748,0.060864,0.040665,0.037019,0.036341,0.037830,1.000000,0.354532,0.044484,0.025317,-0.002579,-0.018197
BuildingArea,0.156231,0.100754,0.076295,0.042436,0.154159,0.147554,0.104371,0.354532,1.000000,0.067758,0.017158,-0.002160,-0.024516
YearBuilt,-0.012743,-0.333306,0.323035,0.089800,-0.002017,0.167869,0.128688,0.044484,0.067758,1.000000,0.091606,-0.022261,0.022456
Lattitude,0.004871,-0.215607,-0.100414,-0.231026,0.003447,-0.059174,-0.009018,0.025317,0.017158,0.091606,1.000000,-0.345592,0.011108
Longtitude,0.103244,0.197874,0.200923,0.362901,0.106172,0.106444,0.047200,-0.002579,-0.002160,-0.022261,-0.345592,1.000000,0.016357
Propertycount,-0.071678,-0.059017,-0.018130,0.017111,-0.053453,-0.032847,-0.009611,-0.018197,-0.024516,0.022456,0.011108,0.016357,1.000000

# **Preprocessing**

In [ ]:
from sklearn.impute import KNNImputer

def impute_with_knn(df, target_column, feature_columns, n_neighbors=2):
    # Select target column and feature columns
    subset_df = df[[target_column] + feature_columns]

    # Create KNN Imputer
    imputer = KNNImputer(n_neighbors=n_neighbors)

    # Perform imputation
    subset_df_imputed = imputer.fit_transform(subset_df)

    # Put the processed data back into the original DataFrame
    df[target_column] = subset_df_imputed[:, 0]

    return df

In [ ]:
df = impute_with_knn(df , target_column= 'Bedroom2' , feature_columns= ['Rooms'])
df = impute_with_knn(df , target_column= 'Bathroom' , feature_columns= ['Rooms' , 'Price' , 'Bedroom2'])
df = impute_with_knn(df , target_column= 'Car' , feature_columns= ['Rooms' , 'Price' , 'Bedroom2' , 'Bathroom' , 'Price' , 'Distance'])
df = impute_with_knn(df , target_column= 'BuildingArea' , feature_columns= ['Rooms' , 'Price' , 'Distance', 'Bedroom2' , 'Bathroom' , 'Car', 'Price' , 'Distance', 'Landsize'])
df = impute_with_knn(df , target_column= 'YearBuilt' , feature_columns= ['Price' , 'Distance' , 'Bathroom' , 'Car' ])

df.drop('Landsize' , axis=1 , inplace= True)

In [ ]:
# Fill in missing data by grouping
for name, group in df.groupby('Suburb'):
    mean_lattitude = group['Lattitude'].mean()
    mean_longtitude = group['Longtitude'].mean()

    mask = (df['Suburb'] == name) # We can use 'Suburb' or 'CouncilArea' too.

    df.loc[mask, 'Lattitude'] = df.loc[mask, 'Lattitude'].fillna(mean_lattitude)
    df.loc[mask, 'Longtitude'] = df.loc[mask, 'Longtitude'].fillna(mean_longtitude)


# Fill in missing data by grouping
for name, group in df.groupby('CouncilArea'):
    mean_lattitude = group['Lattitude'].mean()
    mean_longtitude = group['Longtitude'].mean()

    mask = (df['CouncilArea'] == name) # We can use 'Suburb' or 'CouncilArea' too.

    df.loc[mask, 'Lattitude'] = df.loc[mask, 'Lattitude'].fillna(mean_lattitude)
    df.loc[mask, 'Longtitude'] = df.loc[mask, 'Longtitude'].fillna(mean_longtitude)

In [ ]:
df.dropna(subset=['CouncilArea'] , inplace= True)

In [ ]:
df.isna().sum()

In [ ]:
# Convert 'Date' column to pandas datetime object
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Create new 'Month' and 'Year' columns
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

df.drop(['Date' , 'Address' , 'Postcode'] , axis = 1, inplace= True)

cat_features = ['Suburb' , 'Type' , 'Method' , 'SellerG' , 'Year' , 'Month' , 'CouncilArea' , 'Regionname']
num_features = df.select_dtypes(np.number).columns.tolist()
target_col = 'Price'

for column in cat_features:
    df[column] = df[column].astype('category')

In [ ]:
df.head()

In [ ]:
df.info()

# **Feature Engineering**

In [ ]:
from sklearn.preprocessing import LabelEncoder

def encode_categorical_columns(df, columns):
    encoders = {}

    for col in columns:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        encoders[f'le_{col}'] = le

    return df, encoders

df, encoders = encode_categorical_columns(df, cat_features)

# **Train and Test**

In [ ]:
df_train = df.dropna()
df_test = df[df['Price'].isna()]

In [ ]:
from sklearn.model_selection import train_test_split

X = df_train.drop('Price' , axis = 1)
y = df_train['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# **Visulizations**

In [ ]:
import warnings
warnings.filterwarnings("ignore")

def plot_histograms(df_train, df_test, target_col, n_cols=3):
    n_rows = (len(df_train.columns) - 1) // n_cols + 1

    fig, axes = plt.subplots(nrows=n_rows, ncols=n_cols, figsize=(18, 4*n_rows))
    axes = axes.flatten()

    for i, var_name in enumerate(df_train.columns.tolist()):
        if var_name != 'is_generated':
            ax = axes[i]
            sns.distplot(df_train[var_name], kde=True, ax=ax, label='Train')
            if var_name != target_col:
                sns.distplot(df_test[var_name], kde=True, ax=ax, label='Test')
            ax.set_title(f'{var_name} Distribution (Train vs Test)')
            ax.legend()

    plt.tight_layout()
    plt.show()

plot_histograms(df_train[num_features], df_test[num_features], target_col, n_cols=4)

In [ ]:
def plot_heatmap(df, title):
    # Create a mask for the diagonal elements
    mask = np.zeros_like(df.astype(float).corr())
    mask[np.triu_indices_from(mask)] = True

    # Set the colormap and figure size
    colormap = plt.cm.RdBu_r
    plt.figure(figsize=(15, 15))

    # Set the title and font properties
    plt.title(f'{title} Correlation of Features', fontweight='bold', y=1.02, size=20)

    # Plot the heatmap with the masked diagonal elements
    sns.heatmap(df.astype(float).corr(), linewidths=0.1, vmax=1.0, vmin=-1.0,
                square=True, cmap=colormap, linecolor='white', annot=True, annot_kws={"size": 14, "weight": "bold"},
                mask=mask)

plot_heatmap(df_train[num_features+[target_col]], title='Train data')
plot_heatmap(df_test[num_features], title='Test data')

In [ ]:
other_cols = [col for col in num_features if col != target_col]

# Subplot sizes
n_cols = 4
n_rows = int(np.ceil(len(other_cols) / n_cols))

# Create figures and axes
fig, axes = plt.subplots(nrows=n_rows, ncols=n_cols, figsize=(15, 5 * n_rows))

# Convert to a proper 1D array
axes = axes.flatten()

# Create scatter plots
for i, col in enumerate(other_cols):
    sns.scatterplot(data=df, x=col, y=target_col, ax=axes[i])

# Hide extra axes
for i in range(len(other_cols), n_cols * n_rows):
    axes[i].axis('off')

plt.tight_layout()
plt.show()

# **Modelling**

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score , confusion_matrix, classification_report, mean_absolute_error, mean_squared_error, r2_score , roc_auc_score
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE , ADASYN
from sklearn.model_selection import cross_val_score

class fonks:

    label = target_col

    def overSample(X , y , tactic = 'smote'):
        if tactic == 'smote':
            smote = SMOTE()
            X_resampled , y_resampled = smote.fit_resample(X , y)
            return X_resampled , y_resampled
        elif tactic == 'adasyn':
            adasyn = ADASYN()
            X_resampled , y_resampled = adasyn.fit_resample(X , y)
            return X_resampled , y_resampled


    def trainTest(X , y , test_size = 0.2 , stratify = None):
        """
        Parameters
        ----------
        data : pandas.DataFrame
            Data set to be split into Train & Test
        label : str, optional
            The name of the target variable, by default 'Knowledge'
        test_size : float, optional
            Size of the test data set, by default 0.2

        Returns
        -------
        tuple
            X_train, X_test, y_train, y_test
        """

        if stratify == 'y' :
            X_train, X_test, y_train, y_test = train_test_split(X , y , test_size=test_size , random_state=53 , stratify=y)
        else :
            X_train, X_test, y_train, y_test = train_test_split(X , y , test_size=test_size , random_state=53)

        return X_train, X_test, y_train,y_test


    def simple_scores(y_train, y_train_pred, y_test, y_pred, name='Model' , task = 'reg'):
        """
        Parameters
        ----------
        y_train : pandas.DataFrame
            Actual values of Train data
        y_train_pred : pandas.DataFrame
            Prediction values for Train data
        y_test : pandas.DataFrame
            Actual values of the test data
        y_pred : pandas.DataFrame
            Predictive values for the test data
        name : str optional
            The name of the model being estimated, by default 'Model'
        task : str optional, default 'reg'
            type of task 'reg' or 'class'

        Returns
        -------
        print
            Train Acc , Train F1 , Train Precision , Test Acc , Test F1 , Test Precision
        """


        if task == 'class':
            print(f'{name} Train Scores\n')
            print(f'{name} Train Accuracy : {accuracy_score(y_train , y_train_pred)}')
            print(f'{name} Train Recall : {recall_score(y_train, y_train_pred, pos_label=1)}')
            print(f'{name} Train Precision : {precision_score(y_train , y_train_pred, pos_label=1)}')
            print(f'{name} Train F1 : {f1_score(y_train , y_train_pred , pos_label=1)}')


            print("\n****************\n")

            print(f'{name} Test Scores\n')
            print(f'{name} Test Accuracy : {accuracy_score(y_test , y_pred)}')
            print(f'{name} Test Recall : {recall_score(y_test, y_pred, pos_label=1)}')
            print(f'{name} Test Precision : {precision_score(y_test , y_pred, pos_label=1)}')
            print(f'{name} Test F1 : {f1_score(y_test , y_pred, pos_label=1)}')
        elif task == 'reg':
            print(f'{name} Train Scores\n')
            print(f'{name} Train R2 : {r2_score(y_train , y_train_pred)}')
            print(f'{name} Train Mae : {mean_absolute_error(y_train, y_train_pred)}')
            print(f'{name} Train RMSE : {mean_squared_error(y_train , y_train_pred)**0.5}')
            print(f'{name} Train MSE : {mean_squared_error(y_train , y_train_pred)}')


            print("*************************")

            print(f'{name} Test Scores\n')
            print(f'{name} Test R2 : {r2_score(y_test , y_pred)}')
            print(f'{name} Test Mae : {mean_absolute_error(y_test, y_pred)}')
            print(f'{name} Test RMSE : {mean_squared_error(y_test , y_pred)**0.5}')
            print(f'{name} Test MSE : {mean_squared_error(y_test , y_pred)}')

            print("\n*****DONE*******")

    def get_r2_score(y_true, y_pred):
        return r2_score(y_true,y_pred)
    def get_mae_score(y_true, y_pred):
        return mean_absolute_error(y_true,y_pred)
    def get_rmse_score(y_true, y_pred):
        return mean_squared_error(y_true,y_pred)**0.5
    def get_mse_score(y_true, y_pred):
        return mean_squared_error(y_true,y_pred)


    def get_acc_score(y_true, y_pred):
        return accuracy_score(y_true , y_pred)
    def get_f1_score(y_true, y_pred):
        return f1_score(y_true , y_pred , pos_label=1)

    def get_recall(y_true, y_pred):
        return recall_score(y_true, y_pred, pos_label=1)

    def get_roc_auc(y_true, y_pred):
        return roc_auc_score(y_true, y_pred, pos_label=1)


    def eval_metric(y_train, y_train_pred, y_test, y_pred, name='Model'):
        """
        Parameters
        ----------
        y_train : pandas.DataFrame
            Actual values of Train data
        y_train_pred : pandas.DataFrame
            Prediction values for Train data
        y_test : pandas.DataFrame
            Actual values of the test data
        y_test_pred : pandas.DataFrame
            Predictive values for the test data
        name : str optional
            Name of the estimated model, by default 'Model'
        task : str optional, default 'reg'
            type of task 'reg' or 'class'

        Returns
        -------
        print
            Train Confusion_matrix , Train Classification_report , Test Confusion_matrix , Test Classification_report
        """

        print(f"Test_Set {name}")
        print(confusion_matrix(y_test, y_pred))
        print(classification_report(y_test, y_pred))
        print()
        print(f"Train_Set {name}")
        print(confusion_matrix(y_train, y_train_pred))
        print(classification_report(y_train, y_train_pred))



    def train_test_df(y_train, y_train_pred, y_test, y_pred, name='Model' , task='reg'):
        """
        Parameters
        ----------
        y_train : pandas.DataFrame
            Actual values of Train data
        y_train_pred : pandas.DataFrame
            Prediction values for Train data
        y_test : pandas.DataFrame
             Actual values of the test data
        y_test_pred : pandas.DataFrame
             Predictive values for the test data
        name : str optional
            Name of the estimated model, by default 'Model'.
        task : str optional, default 'reg'
            type of task 'reg' or 'class'

        Returns
        -------
        print
            Train Accuracy , Train Recall , Train Precision , Train F1 , Test Accuracy , Test Recall , Test Precision , Test F1
        """


        if task == 'class':
            scores = {name+"_train": {"Accuracy" : accuracy_score(y_train, y_train_pred),
            "Recall" : recall_score(y_train, y_train_pred , pos_label=1),
            "Precision" : precision_score(y_train, y_train_pred , pos_label=1),
            "F1" : np.sqrt(f1_score(y_train, y_train_pred , pos_label=1))},

            name+"_test": {"Accuracy" : accuracy_score(y_test, y_pred),
            "Recall" : recall_score(y_test, y_pred , pos_label=1),
            "Precision" : precision_score(y_test, y_pred , pos_label=1),
            "F1" : np.sqrt(f1_score(y_test, y_pred , pos_label=1))}}
            return pd.DataFrame(scores)



        if task == 'reg':

            scores = {name+"_train": {"R2" : r2_score(y_train, y_train_pred),
            "mae" : mean_absolute_error(y_train, y_train_pred),
            "mse" : mean_squared_error(y_train, y_train_pred),
            "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},

            name+"_test": {"R2" : r2_score(y_test, y_pred),
            "mae" : mean_absolute_error(y_test, y_pred),
            "mse" : mean_squared_error(y_test, y_pred),
            "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
            return pd.DataFrame(scores)

    def get_cross_val_score(model, X, y, cv=5):
        """
        Parameters
        ----------
        model : sklearn.model
            Model
        X : pandas.DataFrame
            Variable X
        y : pandas.DataFrame
            Variable Y
        cv : int, optional
            How many folds will be made for cross validation, by default 5.

        Returns
        -------
        float
            Cross Validation Score.
        """

        return cross_val_score(model, X, y, cv=cv).mean()